<!-- 答题页面 -->
		<div class="choose_3" ng-controller='choose' >
			<header class="title">
				<a href="#">返回</a>
				<h1>新鲜智造</h1>
				<span></span>
			</header>
			<section >
				<h2 class="h2"><a href="#"><img src="img/header_btn.png"></a>你感觉？</h2>
				<div id='item' choose-change>
					<!--<div class="item">
						 <div>
							<h6>您的皮肤一抓酒红，并出现抓痕吗？</h6>
							<ol>
								<li  class="on">没有</li>
								<li>很少</li>
								<li>有时</li>
								<li>经常</li>
								<li>总是</li>
							</ol>
						</div>
					</div> -->
				</div>
				<!-- <p><img src="img/tijiao.png" id='tijiao'></p> -->
			</section>			
		</div>