<div class="choose" ng-controller='food' food-change>
		<header class="title">
			<a href="#">返回</a>
			<h1>新鲜智造</h1>
			<span></span>
		</header>
		<section>
				<h2 class="h2"><a href="#"><img src="img/header_btn.png"></a>基本信息</h2>
				<h3>有无过敏食物</h3>
				<nav><a href="#" class='nav_1' data-nav='none'>无</a><a href="#" class='nav_1' data-nav='has'>有</a></nav>
				<ul id='ul'>
					<li>羊肉</li>
					<li>海鲜</li>
					<li>芹菜</li>
					<li>胡萝卜</li>
					<li>芹菜</li>
					<li>芹菜</li>
					<li>羊肉</li>
				</ul>
		</section>
		<p><img src="img/next.png" id="next_Btn" ng-click="page3()"></p>
</div>