<div class="sex" ng-controller='sex' sex-change>
	<header class="title">
		<a href="#">返回</a>
		<h1>新鲜智造</h1>
		<span></span>
	</header>
	<section>
		<h2 class="h2"><a href="#"><img src="img/header_btn.png"></a>基本信息</h2>
		<div class="sex_box"><img src="img/page2_4.png"></div>
		<h3>请选择您的性别</h3>
		<div class="sex_cho">
			<dl>
				<dt><img src="img/nan.png"></dt>
				<dd>
					<span>我是男神</span>
					<p class='sexBtn'></p>
					<!-- <p ><img src="img/page2_2.png" class='sexBtn one'></p> -->
				</dd>
			</dl>
			<dl>
				<dt><img src="img/nv.png"></dt>
				<dd>
					<span>我是女神</span>
					<p class='sexBtn'></p>
					<!-- <p ><img src="img/page2_2.png" class='sexBtn'></p> -->
				</dd>
			</dl>
		</div>
		
	</section>
	<img src="img/next.png" id='nextBtns' ng-click='page2()'>
</div>