<div class="choose_2">
	<header class="title">
		<a href="#">返回</a>
		<h1>新鲜智造</h1>
		<span></span>
	</header>
	<section>
			<h2 class="h2"><a href="#"><img src="img/header_btn.png"></a>基本信息</h2>
			<h3>不喜欢的食物</h3>
			<ul id='choose_ul'>
				<li><input type="checkbox"><span>羊肉</span></li>
				<li><input type="checkbox"><span>西瓜</span></li>
				<li><input type="checkbox"><span>海鲜</span></li>
				<li><input type="checkbox"><span>洋葱</span></li>
				<li><input type="checkbox"><span>芹菜</span></li>
				<li><input type="checkbox"><span>芹菜</span></li>
				<li><input type="checkbox"><span>胡萝卜</span></li>
				<li><input type="checkbox"><span>胡萝卜</span></li>
				<li><input type="checkbox"><span>韭菜</span></li>
				<li><input type="checkbox"><span>香菜</span></li>
			</ul>
	</section>
	<p id="ceshi">开始测试</p>
</div>
<div class="mark"></div>
<div class="test" ng-controller='test' test-change>
			<span><img src="img/closeBtn.png" id="closeBtn"></span>
			<h4><img src="img/ceshi.png"  id="ceshi2"></h4>
</div>